#view_slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#backgroundImg {
    z-index: 1;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
