@namespace Framework.Slides
@using Framework.Slides.JsonClasses

@* HTML *@
<link rel="stylesheet" href="Slide.razor.css" />


<div id="view_slide"> <!-- Div with entire Game in it-->
    <img id="backgroundImg" src=@SlideData.Image alt="ry namako rehetra"> <!-- Backgroundimage of slide -->
    <svg id="viewBox" viewBox="0 0 1000 1000"> <!-- SVG containing all the buttons of current slide-->
        @if (SlideData != null) { 
            int counter = 0; 
            foreach (var item in SlideData.Buttons) { <!-- Create all buttons--> 
                var localCounter = counter; <!-- Local counter for buttons-Id (Numbers)-->
                <polygon id=@localCounter points="@item.Points" backgroundcolor="red" @onclick="() => HandlePolygonClick(localCounter)"/>
                counter++;
                Console.WriteLine(localCounter);
            }
        }
    </svg> 
    

</div>






@code{
    public EventCallback OnPolygonClick { get; set; }

    private async Task HandlePolygonClick(int id)
    {
        await OnPolygonClick.InvokeAsync(id); 
    }


    [Parameter]
    public JsonSlide SlideData { get; set; } = null!; // Get the slide data 
}



