@page "/"

<PageTitle>Index</PageTitle>

<div>
    <h1>Point and Click Game</h1>
    <button>START</button>
    <button>INSTRUCTION</button>
    <button>IMPORT SAVE</button>
    <a href="/game">GAME</a>
</div>
