/*
The container contains every component of the page.
Ideally it is only at once, as this is for what it is designed.
It always has an aspect ratio of 16:9, 
is always centered and fills out the maximal possible space 
*/
#container {
    position: absolute;
    aspect-ratio: 3/2;
    height: 100%;
    top: 0;
}

@media (max-aspect-ratio: 3/2) {
    #container {
        left: 0;
        width: 100%;
        height: auto;
        top: auto;
    }
}

/* the main element fill the entire screen and is black */
main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
