BlazoredToasts {
    position: relative !important;
}

#toast-container {
    position: absolute;
    aspect-ratio: 16/9;
    top: 0;
    height: 100%;
}

@media (max-aspect-ratio: 16/9) {
    #toast-container {
        position: absolute;
        aspect-ratio: 16/9;
        left: 0;
        width: 100%;
    }
}
