@inherits LayoutComponentBase

@using Blazored.Toast;
@using Blazored.Toast.Configuration;

<main>
    <div id="container">
        @Body
        <BlazoredToasts 
            Position=ToastPosition.TopLeft
            Timeout=2
        />
    </div>
</main>
