@namespace GameStateInventory
@inherits Framework.InventoryUI.InventoryUIBase
@using Blazored.Toast.Services
@using Microsoft.JSInterop;
@using Blazored.Video;


@* @inject IToastService _toastService *@

<div class="horizontal-images">
    @foreach (string id in InvItems.Keys)
    {
        
        <div class="image-container">
            <div class="image-text">@InvItems[id].Description</div>
            <img src="@InvItems[id].Image">
       </div>
    
    }
    
</div>

<BlazoredVideo @ref="video" class="w-40" autoplay="autoplay" loop="loop" style="max-width:300px;">
    <source src="monkey.mp4" type="video/mp4" />
</BlazoredVideo>
<br/>
<button class="btn btn-primary" @onclick="ToggleVideo">Toggle Video</button>

@code {
    BlazoredVideo video;

    async Task ToggleVideo()
    {
        if (await video.GetPausedAsync())
        {
            await video.StartPlayback();
        }
        else
        {
            await video.PausePlayback();
        }
    }
}
