@namespace GameStateInventory
@inherits Framework.InventoryUI.InventoryUIBase
@using Blazored.Toast.Services
@using Microsoft.JSInterop;


@* @inject IToastService _toastService *@

<div class="horizontal-images">
    @foreach (string id in InvItems.Keys)
    {
        
        <div class="image-container">
            <div class="image-text">@InvItems[id].Description</div>
            <img src="@InvItems[id].Image">
       </div>
    
    }
    
</div>


