
/* Style for the horizontal images */
.horizontal-images {
    position:relative !important;
    bottom: 10px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for individual images */
.horizontal-images img {
    margin: 0 100px; /* Adjust as needed */
}