@page "/inventory"
@namespace GameStateInventory
@inherits Framework.InventoryUI.InventoryUIBase
@using Blazored.Toast.Services

@inject IToastService _toastService

<div class="horizontal-images">
    @foreach (string id in InvItems.Keys)
    {
        Console.WriteLine(id);
        string s = InvItems[id].Image;
        Console.WriteLine(s);
        <img src="@InvItems[id].Image" width="1000">
    }
    
</div>
