@namespace Framework.InventoryUI
@inherits InventoryUIBase
@using Blazored.Toast.Services
@using Microsoft.JSInterop;
@using Blazored.Video;


@* @inject IToastService _toastService *@

<div class="horizontal-images">
    @* @foreach (var item in GameState.GetItemObjects()) *@
    @foreach (var item in GameState.GetItemObjects().Values)
    {
        <div class="item-container">
            <img class="image" src="@item.Image">
            <div class="text-container">
                <div class="title">@item.Name</div>
                <div class="description">@item.Description</div>
        </div>
        </div>
    }
    
</div>