@namespace Framework.Slides
@using Framework.Slides.JsonClasses

@* HTML *@

<div id="view_slide"> <!-- Div with entire Game in it-->
    @* <img src=@SlideData.Image alt="ry namako rehetra"> <!-- Backgroundimage of slide --> *@
    <p>Hello WO</p>
    <svg> <!-- SVG containing all the buttons of current slide-->
        @if (SlideData != null) { 
            @foreach (var item in SlideData.Buttons) { <!-- Create all buttons--> 
                <polygon points="@item.Points" backgroundcolor="red"/>
            }
        }
    </svg>
    

</div>





@code{
    [Parameter]
    public JsonSlide SlideData { get; set; } = null!; // Get the slide data 

}