@inherits Room.HM305Base
@namespace Room
@inject HttpClient Http 

<div id="viewHM305"> <!-- blue -->
    <img src="HM305/images/start.jpg" alt="monday left me broken...">
    <br>
    <br>

    <svg viewBox="0 0 1920 865"> <!-- min_x | min_y | gridding_x | gridding_y  -> divide viewBox in 10000 x 10000 pieces -> points-->
        <polygon points=@Points id="blackboard" ></polygon> <!-- x,y x,y ... -->
    </svg>
</div>

@code {
    @using System.Net.Http; // for http
    @using System.Threading.Tasks; // for async
    @using System.Text.Json; // for json
    private Dictionary<string, object>? jsonDataDict; // dictionary to store json data
    protected override async Task OnInitializedAsync() // called when component is initialized
    {
        var response = await Http.GetAsync("HM305/HM305.json"); // fetch json file
        response.EnsureSuccessStatusCode(); // throw if not success
        var jsonDataString = await response.Content.ReadAsStringAsync(); // read json file as string
        jsonDataDict = JsonSerializer.Deserialize<Dictionary<string, object>>(jsonDataString); // convert json string to dictionary
        Console.WriteLine(jsonDataDict);
    }
    
}