@page "/game"
@namespace Framework.Game
@inherits Framework.Game.GameBase

<link rel="stylesheet" href="Slide.razor.css" />

@if (Slides == null) {
    <p>Loading...</p>
} else {
    @* <p>@Slides["Slide1"].Buttons[0].Points</p> *@
    <DynamicComponent Type=@typeof(Framework.Slides.Slide) 
    Parameters=@(new Dictionary<string, object>{
        {"SlideData", Slides[SlideId]},
        {"OnPolygonClick", (Action<int>)HandlePolygonClick}
        }) />
}   


@code {
    private void HandlePolygonClick(int id){
        SlideId = Slides[SlideId].Buttons[id].Actions[0][1];
        Console.WriteLine(SlideId);
    }
}

