@page "/game"
@namespace Framework.Game
@inherits Framework.Game.GameBase

@using Framework.Slides
@using Framework.Minigames

@if (Slides == null) {
    <p>Loading...</p>
} else {
    @* <DynamicComponent Type=@typeof(Framework.Slides.Slide) 
    Parameters=@(new Dictionary<string, object>{
        {"SlideData", Slides[SlideId]}, {"OnSlideChange", EventCallback.Factory.Create<string>(this, ChangeSlide)}
        }) /> *@
    if (Parameters.SlideData.Type == "Minigame") {
        <Minigame MinigameDefClass="@Parameters.SlideData.MinigameDefClassName" OnFinished="FinishMinigame" />
    }
    else {
        <DynamicComponent Type=@typeof(Slide) Parameters="Parameters.GetParameterDictionary()" />
    }
}   
