@page "/game"
@namespace Framework.Game
@inherits Framework.Game.GameBase

@if (Slides == null) {
    <p>Loading...</p>
} else {
    @* <DynamicComponent Type=@typeof(Framework.Slides.Slide) 
    Parameters=@(new Dictionary<string, object>{
        {"SlideData", Slides[SlideId]}, {"OnSlideChange", EventCallback.Factory.Create<string>(this, ChangeSlide)}
        }) /> *@
    <DynamicComponent Type=@typeof(Framework.Slides.Slide) Parameters="Parameters.GetParameterDictionary()" />
}   
