@page "/"
@using Framework.Slides
@using Framework.State
@using Framework.Game
@using Framework.Keyboard
@using Framework.Mouse
@using Framework.Sound
@using Framework.Video

@inject SlideService SlideService
@inject GameState GameState
@inject KeyboardService KeyboardService
@inject MouseService MouseService
@inject SoundService SoundService
@inject VideoService VideoService

@if (initTask.IsCompletedSuccessfully)
{
    if (gameStarted)
    {
        <Game Debug=@debugMode />
    }
    else
    {
        <div class="center-content">
            <h1 id="title">KSR Point and Click</h1>
            <button id="play_button" class="indy-button" @onclick="StartGame">Game</button>
            <a href="/testpage" class="indy-button">TestPage</a>
            <a href="/showcase" class="indy-button">Minigame Showcase</a>

            <div>
                <label for="volume">Volume: </label>
                <input type="range" id="volume" name="volume" min="0" max="100" value="0" @onchange="UpdateVolume"/>
                <span>@Volume%</span>
            </div>
        </div>
    }
}
else
{
    <div class="loading">Loading...</div>
}

@code {
    public double Volume { get; set; } = 0;
    private TaskCompletionSource<bool> _tcs = new();
    private Task initTask => _tcs.Task;

    private bool gameStarted = false;
    private bool userinteraction = false;

    private bool debugMode = true;

    protected override async Task OnInitializedAsync()
    {
        await GameState.LoadGameStateAndItemsAsync();
        await SlideService.Init(debugMode);
        await KeyboardService.Init();
        await MouseService.Init();
        await SoundService.Init();
        await VideoService.Init();
        _tcs.SetResult(true);
    }

    private async Task UpdateVolume(ChangeEventArgs e)
    {
        Volume = Convert.ToDouble(e.Value); 

        if (!userinteraction){ // user has now interacted with the page => play audio automatically
            userinteraction = true;
            // Play soundtrack
            await SoundService.PlayMusic("/minigame_assets/LockPick_assets/audio/doom-soundtrack.wav");
        }

        Volume = Convert.ToDouble(e.Value); 
        await SoundService.UpdateVolume(Volume);
        Console.WriteLine("volume changed called huan"+ Volume);
    }

    private void StartGame()
    {
        gameStarted = true;
    }
}
    @* using System.Reflection.Metadata; *@
