@page "/"
@using Framework.Slides
@using GameStateInventory
@using Framework.Game
@using Framework.Keyboard
@using Framework.Mouse

@inject SlideService SlideService
@inject GameState GameState
@inject KeyboardService KeyboardService
@inject MouseService MouseService

@if (initTask.IsCompletedSuccessfully) {
    if (gameStarted) {
        <Game />
    }
    else {
        <h1 id="test">Hello, world!</h1>
        <button style="color: white; background-color: rgb(255, 0, 0)" @onclick="StartGame">Game</button>
        <a href="/testpage">TestPage</a>
    }
}


else {
    <div style="color: white">Loading...</div>
}

@code {
    private TaskCompletionSource<bool> _tcs = new();
    private Task initTask => _tcs.Task;

    private bool gameStarted = false;

    protected override async Task OnInitializedAsync()
    {
        await GameState.LoadGameStateAndItemsAsync();
        await SlideService.Init(true);
        await KeyboardService.Init();
        await MouseService.Init();
        _tcs.SetResult(true);
    }

    private void StartGame(){
        gameStarted = true;
    }
}