@page "/"
@using Framework.Slides
@using Framework.State
@using Framework.Game
@using Framework.Keyboard
@using Framework.Mouse
@using Framework.Sound
@using Framework.Video

@inject SlideService SlideService
@inject GameState GameState
@inject KeyboardService KeyboardService
@inject MouseService MouseService
@inject SoundService SoundService
@inject VideoService VideoService

@if (initTask.IsCompletedSuccessfully) {
    if (gameStarted) {
        <Game Debug=@debugMode />
    }
    else {
        <h1 id="title">Freaky point and click</h1>
        <a href="/testpage">TestPage</a>
        <a href="/showcase">Minigame Showcase</a>

        <button id="play_button" style="color: white; background-color: rgb(255, 0, 0)" @onclick="StartGame">Game</button>

        @* <a id="settings_link" href = "/settings">
            <button id="settings_button">Settings</button>
        </a> *@

        <div>
            <label for="volume">Volume: </label>
            <input type="range" id="volume" name="volume" min="0" max="100" @bind="@Volume" />
            <span>@Volume</span>
        </div>
        

    }
}


else {
    <div style="color: white">Loading...</div>
}

@code {  
    private int Volume { get; set; } = 50;  
    private TaskCompletionSource<bool> _tcs = new();
    private Task initTask => _tcs.Task;

    private bool gameStarted = false;

    private bool debugMode = true;

    protected override async Task OnInitializedAsync()
    {
        await GameState.LoadGameStateAndItemsAsync();
        await SlideService.Init(debugMode);
        await KeyboardService.Init();
        await MouseService.Init();
        await SoundService.Init();
        // Play the background track
        await SoundService.PlayMusic("/minigame_assets/LockPick_assets/audio/doom-soundtrack.wav");
        await VideoService.Init();
        _tcs.SetResult(true);
    }

    private void StartGame(){
        gameStarted = true;
    }
}