@* Chat GPT Code *@
<div class="overlay @OverlayClass" style="display: @overlayDisplay">
    <div class="overlay-content">
        @if (Images != null && Images.Any())
        {
            <div class="image-row">
                @foreach (var image in Images)
                {
                    @inject Items Items 

                    @* <img src="items.@image" alt="@]" /> *@
                }
            </div>
        }
        @ChildContent
    </div>
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string OverlayClass { get; set; } = "custom-overlay";
    //[Parameter] public List<string> Images { get; set; } = new List<string>(); @* TODO use Inventory and Items class and then @inject Inventory Inventory and Items *@
    

    private string overlayDisplay = "none";
    private bool isOverlayVisible = false;

    private void ToggleOverlay()
    {
        isOverlayVisible = !isOverlayVisible;
        overlayDisplay = isOverlayVisible ? "block" : "none";
    }
}
